<!DOCTYPE html>
<html>
    <head>
        <title>Pharmacy Main Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1 class="text-center">Welcome to PillApp</h1>
        <div class="border rounded p-2 text-center" style="margin-left: 100px; margin-right: 100px;">
            Click a button below to get started.<br/>
            <a class="btn btn-primary m-2" href="/pharmacy">I am logging in to manage a pharmacy</a>
            <a class="btn btn-primary m-2" href="/patient">I am logging in to order a prescription</a>
        </div>
    </body>
</html>