<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/theme.css">
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="orange-gradient body">
        <div class="light-bg sticky-top p-2 align-items-center d-flex border-bottom light-bg">
            <a href="/">
                <img class="mx-2" src="/img/logo.png" style="border-radius: 5px; height: 2.5rem;">
            </a>
            <span class="mx-2 font-weight-bold" style="font-size: 2rem">The Pill Project</span>
        </div>
        <div class="text-center">
            <a class="btn light-button m-2" href="/patient" style="font-size: 2rem;">Request a prescription delivery from your pharmacy</a><br/>
            <span class="text-white">
                Manage a pharmacy? <a class="text-white" style="text-decoration: underline;" href="/pharmacy">Click here</a> to view recent orders.
            </span>
        </div>
    </body>
</html>