<html>
    <head>
        <title>Patient Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/theme.css">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="orange-gradient body">
        <div class="light-bg sticky-top p-2 align-items-center d-flex border-bottom light-bg">
            <a href="/">
                <img class="mx-2" src="/img/logo.png" style="border-radius: 5px; height: 2.5rem;">
            </a>
            <span class="mx-2 font-weight-bold" style="font-size: 2rem">The Pill Project</span>
        </div>
        <div class="light-bg border rounded p-2 w-25 mx-auto" style="margin-top: 2.5rem;">
            <form method="post" action="/patient_login" style="margin-block-end: 0;">
                <h1>Login</h1>
                <b>{{message}}</b>
                <div class="form-group">
                    <label for="patient_email">Email</label>
                    <input class="form-control" type="email" name="patient_email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="patient_password">Password</label>
                    <input class="form-control"  type="password" name="patient_password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-light">Log in</button> or <a href="/patient_register" class="btn btn-light">Create an account</a>
            </form>
        </div>
    </body>
</html>
