<html>
    <head>
        <title>Pharmacy Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="text-center text-white" style="background-color: #ff8c00; padding-bottom: 25px;">
            <h1 class="display-1">Pharmacy Login</h1>
            <a class="text-white" href="/">Go back</a>
        </div>
        <div class="border rounded p-2 w-25 mx-auto" style="margin-top: 25px;">
            <b>{{message}}</b>
            <form method="post" action="/pharmacy_login" style="margin-block-end: 0;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="pharmacy_id">Pharmacy name</label>
                    <input class="form-control" type="text" name="pharmacy_id" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="access_code">Password</label>
                    <input class="form-control"  type="password" name="access_code" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-light">Log in</button>
            </form>
        </div>
    </body>
</html>
